# Environnements virtuels
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Streamlit
.streamlit/secrets.toml

# Variables d'environnement
.env

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
